<!DOCTYPE html>
<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
            
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    </head>
    <body>
        <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
            <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="jumbotron">
                    <h1>Culon</h1>
                </div>
                    <ul class="nav navbar-nav">
                    
                    </ul>
            </div>
        </nav>
                    Username: <input type="text" usname=n><br>
                    Password: <input type="text" password=pwd><br>
                    <input type="submit" value="Login">
    </form>
    </body>
</html>